<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.visit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DepartmentHomeActivity"/>
        <activity android:name=".activity.AdminHomeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".createdept" />
        <activity android:name=".createuser" />
        <activity android:name=".adminpage" />
        <activity android:name=".home" />
        <activity
            android:name=".hampage"
            android:label="MENU"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".hampageuser"
            android:label="MENU"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".deptlogin" />
    </application>

</manifest>